<mat-toolbar>
  <mat-toolbar-row>

    <mat-button-toggle-group appearance="legacy" name="fontStyle" aria-label="Font Style">
      <mat-button-toggle value="list"
                         routerLink="list"
                         routerLinkActive="mat-button-toggle-checked">
        <mat-icon>view_list</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="thumbnail"
                         routerLink="thumbnail"
                         routerLinkActive="mat-button-toggle-checked">
        <mat-icon>view_module</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>

  </mat-toolbar-row>
</mat-toolbar>
